body {
    background-color: white;
    font-family: 'Open Sans', sans-serif !important;
    margin: 0;
}

header {
    box-sizing: border-box;
    display: block;
}

#nav {
    background-color: transparent;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 9;

    .pancake_sidebar {
        border-right: 1px solid #ccc!important;
        height: 100%;
        width: 200px;
        background-color: #fff;
        position: fixed!important;
        overflow: auto;
    }

    .top_nav {
        color: white;
        @media screen and (max-width: 614px) {
            display: none;
        }
    }   

    .pancake_button {
        color: #fff!important;
        font-size: 24px!important;
        user-select: none;
        border: none;
        display: inline-block;
        padding: 8px 16px;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
    }

}

#main {
    min-height: 87vh;
}

#main_title {
    background-image: url("/static/images/library_dark.jpg");
    background-position: center center;
    background-size: cover;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        padding-bottom: 18px;
        color: #ffffff;
        font-family: 'Lora', 'Arial' !important;    
        font-size: 45pt;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -0.5px;
        line-height: 1.26;
        margin: 0; 
        position: relative;

        @media screen and (max-width: 500px) {
            font-size: 35px;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            pointer-events: none;
            right: 0;
            top: 0;
            width: 100px;
            border-bottom-style: solid;
            border-bottom-width: 8px;
            border-color: rgba(193,48,13,1);
            margin: 0 auto;
        }
    }
}

#footer {    
   width: 100%;
   min-height: 60px;   /* Height of the footer */
   background: grey;
   display: flex;
   color: white;
   flex-direction: row;
   font-size: 12px;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-around;
   padding: 25px 10px;

   @media only screen and (max-width: 600px){
    flex-direction: column;
    align-items: flex-start;
    min-height: 200px;
   }
}

.red_header {
    width: 100%;
    background-color: rgba(193,48,13,1);
    padding-left: 20px;
    height: 100px;
    display: flex;
    align-items: center;

    h2 {
        color: white;
        margin: 0;
        padding: 0;
        // font-family: 'Lora', 'Arial';
        vertical-align: baseline;
        font-weight: 600;
        line-height: 1.56;
    }
}

.form {
    padding: 1.5rem 20px;
    margin-right: 10px;

    label {
        color: rgb(33,33,33);
        font-size: 16px;
        padding: 24px 20px;
        width: 100%;
        line-height: 1.56;
        font-weight: 400;
    }

    .input_field {
        margin: 24px 18px;
        border-color: rgba(193,48,13,1);
        color: rgba(193,48,13,1);
        text-decoration: none;
        border: 1px solid;
        border-radius: 4px;
        padding: 4px;
        width: 100%;
    }

    .input_button {
        background-color: rgba(193,48,13,1);
        color: white;
        margin: 24px 18px;
        border: none;
        border-color: rgba(193,48,13,1);
        border: 1px solid;
        border-radius: 4px;
        padding: 4px;
        width: 125px;
    }

    .error {
        color: red;
    }

    h4 {
        color: green;
    }
}

.login_form {
    margin: 1.5rem;

    input {        
        margin: 8px 0px;
        border-color: rgba(193,48,13,1);
        color: rgba(193,48,13,1);
        text-decoration: none;
        border: 1px solid;
        border-radius: 4px;
        padding: 4px;
        width: 100%;
    }

    .input_button {
        background-color: rgba(193,48,13,1);
        color: white;
        margin: 8px 0 ;
        border: none;
        border-color: rgba(193,48,13,1);
        border: 1px solid;
        border-radius: 4px;
        padding: 4px;
        width: 125px;
    }

    span {
        color: rgba(193,48,13,0.7);
        font-style: italic;
    }
}

.lightred_header {
    width: 100%;
    background-color: rgba(193,48,13,0.2);
    padding-left: 20px;
    min-height: 50px;
    display: flex;
    align-items: center;
}
