<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block main_title %}Login{% endblock %}

{% block content %}

<div class="red_header">
  <h2>Log In</h2>
</div>
<div class="login_form">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      <i>
        Don't have an account?  <a href="{% url 'signup' %}">Sign Up</a>
      </i>
      <br/>
      <br/>
      <i><a href="{% url 'password_reset' %}">Reset Password</a></i>
    </p>
    <button type="submit" class="input_button">Log In</button>
  </form>
</div>

{% endblock %}