<!-- templates/registration/signup.html -->
{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block main_title %}Sign Up{% endblock %}

{% block content %}
<div class="red_header">
  <h2>Sign Up</h2>
</div>
<div class="login_form">
  <p><strong>*Password is optional and can be left blank</strong></p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      <i>
        Already have an account?  <a href="{% url 'login' %}">Log In</a>
      </i>
    </p>
    <button type="submit" class="input_button">Sign Up</button>
  </form>
</div>
{% endblock %}